@tailwind base;
@tailwind components;
@tailwind utilities;

$scrollbar-width: 12px;
$scrollbar-color: rgb(249 115 22);
$scrollbar-track-color: #f1f1f1;

::-webkit-scrollbar {
  width: $scrollbar-width;
}

::-webkit-scrollbar-track {
  background: $scrollbar-track-color;
}

::-webkit-scrollbar-thumb {
  background: $scrollbar-color;
  border-radius: 10px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: $scrollbar-color $scrollbar-track-color;
}
